@import './partials/setup';


p {
  color: #fff;
  font-family: 'Lato';
  line-height: 1.6;
  font-weight: 300;
}
li {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('./../assets/synthwave.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  transform: translate(-50%, -50%);
  display: none;
}
img {
  max-width: 100%;
}

header {
  text-align: center;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  background: rgba(44, 62, 80,0);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    margin: 0 auto 5vh;
    width: 200px;
    padding: 0;
    justify-content: space-between;

    a {
      color: white;
      text-shadow:  0 0 0.2em #fff, 0 0 0.4em #00c8ff;
      transition: all 0.3s;

      &:hover {
        text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #d600be,0 0 0.6em #d600be, 0 0 0.8em #d600be, 0 0 1.0em #d600be, 0 0 1.2em #d600be, 0 0 1.8em #d600be;
      }
    }
  }
  li {
    padding: 20px;
  }
  h2 {
    font-size: 4.5rem;
    font-family: 'Seaweed Script', 'Comic Sans', cursive;
    color: #d600be;
    margin: 0 auto 20px;
    transform: rotateZ(-5deg);
    text-shadow: .04em .04em 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0 0 0.6em #d600be;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0;
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #00c8ff,0 0 0.6em #00c8ff, 0 0 0.8em #00c8ff, 0 0 1.0em #00c8ff, 0 0 1.2em #00c8ff;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
    padding: 0;
  }
  img {
    width: 100%;
    max-width: 500px;
    padding: 20px 20px;
  }
} 

#hero {
	height: $heroHeight;
	overflow: hidden;
	position: relative;
}

.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: $heroHeight;
	position: fixed;
	z-index: -200;
}

#hero-mobile {
	display: none;
	background-image: radial-gradient(#1b0021 60%, #000 100%);
	height: 320px;
}

#hero, .layer {
	min-height: 600px;
}

.layer-bg {
	background-image: radial-gradient(#1b0021 60%, #000 100%);

}
.layer-1 {
	background-image: url('./../assets/sun.png');
    background-position: center bottom;
    background-size: cover;
		}
.layer-2 {
  background-image: url('./../assets/skyline.png');
  position: absolute;
  bottom: 0;
  background-position: center bottom;
    background-size: cover;
}


main {
  background: url('./../assets/bottomBorder.png') #00133d bottom / contain no-repeat;
  padding-bottom: 200px;

  h2 {
    display: inline-block;
    color: #00133d;
    font-size: 3rem;
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    background: #00c8ff;
    padding: 0 20px;
    box-shadow: .1em .1em #00133d, .3em .3em #d600be;
    margin: 2em 0 1em;
  }

  h3 {
    display: inline-block;
    font-size: 2rem;
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    color: #fff;
    border-left: 3px solid #d600be;
    border-bottom: 3px solid #d600be;;
    padding: 0 0 5px 10px;
  }
  .twoColumn {
    display: flex;
    flex-wrap: wrap;
    
    .col1, .col2 {
      flex: 1 1 400px;
      padding: 0 20px;
    }
  }
  .textBox {
    border: solid 2px #d600be;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    font-family: Audiowide;
    margin: 10px -10px;

    li {
      display: inline-block;
      border: solid 1px #d600be;
      padding: 5px 20px;
      margin: 10px;
    }
  }
  .bio {
    background: #1d1544 linear-gradient(#d600be, #1d1544 .5%, #0b081b);

    h2 {
      box-shadow: .1em .1em #1d1544, .3em .3em #d600be;
      margin-bottom: 140px;
      color: #1d1544;
    }

    p, li, h3 {
      color: #fff;
    }
    img {
      display: block;
      max-width: 200px;
      box-shadow: 5px 5px #1d1544, 10px 10px #00c8ff;
      margin: -100px 0 20px;
    }
  }
  .button {
    display: inline-block;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
    font-family: Audiowide;
    font-size: 1.2rem;
    margin: 30px 15px 10px 0px;
    transition: all .4s;
    background-image: linear-gradient(135deg, #f29f05, #f24405);
    border-radius: 2px;
    
    &:hover {
      border-radius: 4px;
      transform: translateY(-1px);
    }
    &:active, &:focus {
      transform: translateY(2px);
    }
    
  }
  .secondary {
    background-image: linear-gradient(135deg, #00c8ff,  #04578f);
  }
}
section {
  padding-bottom: 100px;
}
.logo {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5% 0;
  max-height: 500px;
}

.portfolioItem {
  padding: 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &::after {
    border-bottom: solid 1px #d600be;
    display: block;
    width: 80%;
    content: " ";
    margin: 50px auto;
  }
  h3 {
    margin-left: -13px;
    margin-top: 0;
  }
  .portfolioPreview {
    margin-left: 40px;
    flex: 1 1 200px;
  }
  .portfolioDescription {
    flex: 1 1 400px;
  }
}


.image {
  background: url('./../assets/BackgroundImage.png') bottom / cover;
  min-height: 70vh;
}
footer {
  min-height: 50px;
  background: #1b0021;
  p {
    margin: 0;
    padding: 5px;
    text-align: center;
  }
}
.animation {
  z-index: -120;
  width: 100vw;
  height: 20vh;
  max-height: 200px;
  background: #000;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #EE05F2;
  border-bottom: 3px solid #EE05F2;
  box-shadow: 0 0 4px #fff, 0 0 8px #EE05F2;
}
.line1, .line2, .line3, .line4, .line5 {
  position:absolute;
  z-index: -100;
	top:0;left:50%;
	width:1px;height:100%;
	border-left:2px solid #EE05F2;
  box-shadow: 0 0 4px #fff, 0 0 8px #EE05F2;
}
.line2 {left:70%;transform:skew(45deg);}
.line3 {left:30%;transform:skew(-45deg);}
.line4 {left:10%;transform:skew(-65deg);}
.line5 {left:90%;transform:skew(65deg);}

.stripe1, .stripe2, .stripe3, .stripe4, .stripe5, .stripe6  {
  position:absolute;
  z-index: -100;
  top:-10px;left:0;
  width:100%;
  border-top: 5px solid #EE05F2;
  animation:drive 5.0s ease-in infinite;
  will-change: transform, border-width;
  box-shadow: 0 0 4px #fff, 0 0 8px #EE05F2;
}

.stripe2 {animation-delay:1.0s;}
.stripe3 {animation-delay:2.0s;}
.stripe4 {animation-delay:3.0s;}
.stripe5 {animation-delay:4.0s;}
.stripe6 {animation-delay:5.0s;}
  
@keyframes drive {
  from {transform: translateY(0);
    ;border-width:1px;}
	to {transform: translateY(250px);border-width:3px;}
}  


@media only screen and (max-width: 700px) {
  header, main {
    h2 {
      font-size: 2.5rem;
    }
  }
}