article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

p {
  color: #fff;
  font-family: "Lato";
  line-height: 1.6;
  font-weight: 300;
}

li {
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

.wrapper {
  max-width: 1440px;
  width: calc(90% - 40px);
  margin: 0 auto;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("./../assets/synthwave.jpg") no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

img {
  max-width: 100%;
}

header {
  text-align: center;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 90vh;
  background: rgba(44, 62, 80, 0);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 1.5rem;
  margin: 0 auto 5vh;
  width: 200px;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul a {
  color: white;
  text-shadow: 0 0 0.2em #fff, 0 0 0.4em #00c8ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header ul a:hover {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #d600be, 0 0 0.6em #d600be, 0 0 0.8em #d600be, 0 0 1em #d600be, 0 0 1.2em #d600be, 0 0 1.8em #d600be;
}

header li {
  padding: 20px;
}

header h2 {
  font-size: 4.5rem;
  font-family: "Seaweed Script", "Comic Sans", cursive;
  color: #d600be;
  margin: 0 auto 20px;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
  text-shadow: 0.04em 0.04em 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0 0 0.6em #d600be;
}

header h3 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #00c8ff, 0 0 0.6em #00c8ff, 0 0 0.8em #00c8ff, 0 0 1em #00c8ff, 0 0 1.2em #00c8ff;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  padding: 0;
}

header img {
  width: 100%;
  max-width: 500px;
  padding: 20px 20px;
}

#hero {
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  position: fixed;
  z-index: -200;
}

#hero-mobile {
  display: none;
  background-image: radial-gradient(#1b0021 60%, #000 100%);
  height: 320px;
}

#hero,
.layer {
  min-height: 600px;
}

.layer-bg {
  background-image: radial-gradient(#1b0021 60%, #000 100%);
}

.layer-1 {
  background-image: url("./../assets/sun.png");
  background-position: center bottom;
  background-size: cover;
}

.layer-2 {
  background-image: url("./../assets/skyline.png");
  position: absolute;
  bottom: 0;
  background-position: center bottom;
  background-size: cover;
}

main {
  background: url("./../assets/bottomBorder.png") #00133d bottom/contain no-repeat;
  padding-bottom: 200px;
}

main h2 {
  display: inline-block;
  color: #00133d;
  font-size: 3rem;
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  background: #00c8ff;
  padding: 0 20px;
  -webkit-box-shadow: 0.1em 0.1em #00133d, 0.3em 0.3em #d600be;
          box-shadow: 0.1em 0.1em #00133d, 0.3em 0.3em #d600be;
  margin: 2em 0 1em -20px;
}

main h3 {
  display: inline-block;
  font-size: 2rem;
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  color: #fff;
  border-left: 3px solid #d600be;
  border-bottom: 3px solid #d600be;
  padding: 0 0 5px 10px;
}

main .twoColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}

main .twoColumn .col1,
main .twoColumn .col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 0 20px;
}

main .textBox {
  border: solid 2px #d600be;
  padding: 0 18px;
}

main .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  font-family: Audiowide;
  margin: 10px -10px;
}

main .skills li {
  display: inline-block;
  border: solid 1px #d600be;
  padding: 5px 20px;
  margin: 10px;
}

main .bio {
  background: #1d1544 -webkit-gradient(linear, left top, left bottom, from(#d600be), color-stop(0.5%, #1d1544), to(#0b081b));
  background: #1d1544 linear-gradient(#d600be, #1d1544 0.5%, #0b081b);
}

main .bio h2 {
  margin-bottom: 150px;
}

main .bio img {
  display: block;
  max-width: 200px;
  -webkit-box-shadow: 5px 5px #1d1544, 10px 10px #00c8ff;
          box-shadow: 5px 5px #1d1544, 10px 10px #00c8ff;
  margin: -100px 0 20px;
}

main .button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-family: Audiowide;
  font-size: 1.2rem;
  margin: 30px 15px 10px 0px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-image: linear-gradient(135deg, #00c8ff, #04578f);
  border-radius: 25px;
}

main .button:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

main .button:active, main .button:focus {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main .secondary {
  background-image: linear-gradient(135deg, #00133d, #0b081b);
}

section {
  padding-bottom: 100px;
}

.logo {
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5% 5% 0;
  max-height: 500px;
}

.portfolio {
  background: #fff;
}

.portfolio h3,
.portfolio li,
.portfolio p {
  color: #00133d;
}

.portfolio h2 {
  color: #fff;
  background: #00133d;
  -webkit-box-shadow: 0.1em 0.1em #fff, 0.3em 0.3em #00c8ff;
          box-shadow: 0.1em 0.1em #fff, 0.3em 0.3em #00c8ff;
}

.portfolio h3,
.portfolio .skills li {
  border-color: #00133d;
}

.portfolioItem {
  margin: 20px -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolioItem::after {
  border-bottom: solid 1px #00133d;
  display: block;
  width: 80%;
  content: " ";
  margin: 50px auto;
}

.portfolioItem h3 {
  margin-left: -13px;
  margin-top: 0;
}

.portfolioItem .portfolioPreview {
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.portfolioItem .portfolioDescription {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  margin: 20px;
}

.image {
  background: url("./../assets/BackgroundImage.png") bottom/cover;
  min-height: 70vh;
}

footer {
  min-height: 50px;
  background: #1b0021;
}

footer p {
  margin: 0;
  padding: 5px;
  text-align: center;
}

.animation {
  z-index: -120;
  width: 100vw;
  height: 20vh;
  max-height: 200px;
  background: #00133d -webkit-gradient(linear, left top, left bottom, from(#00133d), to(#04578f));
  background: #00133d linear-gradient(#00133d, #04578f);
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ee05f2;
  border-bottom: 3px solid #ee05f2;
  -webkit-box-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 8px #ee05f2, 0 0 16px #ee05f2, 0 0 24px #ee05f2;
          box-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 8px #ee05f2, 0 0 16px #ee05f2, 0 0 24px #ee05f2;
}

.line1,
.line2,
.line3,
.line4,
.line5 {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-left: 2px solid #ee05f2;
  -webkit-box-shadow: 0 0 4px #fff, 0 0 8px #ee05f2;
          box-shadow: 0 0 4px #fff, 0 0 8px #ee05f2;
}

.line2 {
  left: 70%;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.line3 {
  left: 30%;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
}

.line4 {
  left: 10%;
  -webkit-transform: skew(-65deg);
          transform: skew(-65deg);
}

.line5 {
  left: 90%;
  -webkit-transform: skew(65deg);
          transform: skew(65deg);
}

.stripe1,
.stripe2,
.stripe3,
.stripe4,
.stripe5,
.stripe6 {
  position: absolute;
  z-index: -100;
  top: -10px;
  left: 0;
  width: 100%;
  border-top: 5px solid #ee05f2;
  -webkit-animation: drive 5s ease-in infinite;
          animation: drive 5s ease-in infinite;
  will-change: transform, border-width;
  -webkit-box-shadow: 0 0 4px #fff, 0 0 8px #ee05f2;
          box-shadow: 0 0 4px #fff, 0 0 8px #ee05f2;
}

.stripe2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.stripe3 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.stripe4 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.stripe5 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.stripe6 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes drive {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-width: 1px;
  }
  to {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    border-width: 3px;
  }
}

@keyframes drive {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    border-width: 1px;
  }
  to {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    border-width: 3px;
  }
}

@media only screen and (max-width: 700px) {
  header h2,
  main h2 {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */